:root {
	--max-value-border: dashed 2px;;
}

body {
	text-align: center;
}
main {
	/*display: flex;*/
}
section {
	/*border: solid 1px;*/
	padding: 5px;
}
canvas {
	/*border: solid 1px;*/
	/*border-color: 'black';*/
}
canvas:hover {
	cursor: pointer;
}
input[type="number"] {
	width: 5em;
	text-align: center;
}
#mathml_container {
	font-size: x-large;
}
.hidden {
	display: none;
}
.small-font {
	font-size: small;
}
.x-small-font {
	font-size: x-small;
}
.x-variable {
	font-size: small;
}


#max_value_grid td{
	width: 50px;
	text-align: center;
}
#cell_1_1, #cell_1_2, #cell_2_1, #cell_2_2 {
	border-right: var(--max-value-border);
	border-bottom: var(--max-value-border);
}
#cell_3_1, #cell_3_2 {
	border-right: var(--max-value-border);
}
#cell_1_3, #cell_2_3 {
	border-bottom: var(--max-value-border);
}
